.main {
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__article {


    &__heading {
      font-family: 'U8';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      color: #1B1C20;
      padding: 0;
      margin: 0;
    }

    &__desc {
      padding-top: 29px;
    }

    &-btn {
      margin-top: 29px;

      &__img {
        padding-left: 10px;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 110px;

    &__line {
      width: 39px;
      height: 0;
      border: 2px solid #1B1C20;
      transform: rotate(-90deg);
    }

    &-box {

      &__headingOne {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 42px;
        color: #1B1C20;
        padding: 0;
        margin: 0;
      }
    }
  }

}